.TimerSet-Container {
  flex-grow: 1; /* Gör så att rubriken tar upp allt tillgängligt utrymme */
  display: flex;
flex-direction: column;
  align-items: center; /* Centrera rubriken vertikalt */
  justify-content: center;
}

.TimerSet {
  display: flex;
  flex-direction: row;
  align-items: center;
  perspective: 1000px;

}


